.selectors {
  margin: 50px 100px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 45px; /* 125% */
}

h3 {
  color: #748cab;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px; /* 125% */
}

.highlight {
  font-weight: 700;
}

.article .highlight {
  color: #f44336;
}
